:root{
    --blanco: #ffffff;
    --grisClaro: #DFE9F3;
    --marron: #892110
}

html{
    font-family: "Helvetica";
    box-sizing:border-box;
    height: auto;
    width: 100%;
}

body {
    line-height: 1.3em;
    font-size: 16px; /* 1 rem = 10px */
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
}

h1 {
    font-size: 2rem;
    line-height: 1.3em;
    margin: 0 0 2rem 0;
    font-weight: 300;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: .5em;
    width: 100%;
    text-align: center;
    background-color: var(--marron);
    color: var(--blanco);
}

fieldset{
    border-radius: .5em;
    margin: 0.5rem 0 0.5rem 0;
    border-color: black;
}

.fieldInline {
    display: inline-block;
    width: 94%;
}

.datosPersonales {
    width: 100%;
}

.contenedor {
    max-width: 100rem;
    /*height: 95%;*/
    width: 30%;
    height: auto;
    margin: 5rem 35% 5rem 35%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: var(--grisClaro);
}

.sombra {
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

.boton {  
    display: inline-block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: purple;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    width: 49.5%;
}

.boton:hover {
    background-color: #9867C5;
    transform: translateY(-2px);
}

.comentario {
    height: 10%;
    width: 99%;
}

.label {
    width: 98%;
    margin: 0.5rem 0 0.5rem 0;
    height: 2rem;
}

.input {
    width: 98%;
    margin: 0.5rem 0 0.5rem 0;
    height: 2rem;
    border-radius: .5em;
}

.fecha {
    text-align: right;
    width: 98%;
    margin: 0.5rem 0 0.5rem 0;
    height: 2rem;
    border-radius: .5em;
}

/* footer */
.footer {
    text-align: center;
}